@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;1,400;1,600&display=swap');
:root{
  --navcolor:white;
  --navfont:#230EBA;
  --green: #230EBA;
  --box-shadow:0 .5rem 1rem rgba(0,0,0.1)
}
*{
  
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    /* font-family:sans-serif; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
  }
  body{
    background-color: #fefefe;
      /* margin: 0; */
    /* padding: 0; */
  
  }

/* navigation bar  */
header{
    color: lightblue;
    width: 100%;
    height: 80px;
    background-color: var(--navcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }
  .logo{
    font-size: 28px;
    color:var(--navfont);
  }
  .hamburger{
    display:none;
  }
  .nav-bar ul{
    display: flex;
  }
  .nav-bar ul li a{
     display: block;
     color: var(--navfont);
     font-size: 20px ;
     padding:10px 25px;
     border-radius: 50px;
     transition: 0.2s;
     margin: 0 5px;
  
  }
  .nav-bar ul li a:hover{
    color: var(--navcolor);
    background-color: var(--navfont);
    border-radius: 50px;
  }
  .nav-bar ul li a.active{
    color:var(--navcolor);
    background-color: var(--navfont);
    /* border-bottom: 8px solid #06C167; */
   
  
  }
  @media only screen and (max-width:1320px){
    header{
      padding:0 50px;
    }
    .banner{
      width: 100%;
      height: 90vh;
      background:url('cover.jpeg')no-repeat;
    background-size: cover;
    display: grid;
    place-items:center;
    padding-top: 8rem;
    }
  }
  @media only screen and (max-width:1100px){
    header{
      padding:0 30px;
    }
  }
  @media only screen and (max-width:900px){
    
    .hamburger{
      display: block;
      cursor: pointer;
    }
    .hamburger .line{
      width:30px;
      height: 3px;
      background-color:var(--navfont);
      margin: 6px 0;
    }
    .nav-bar{
      height: 0;
      position: absolute;
      top:80px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: #FFFBFC;
      transition: 0.2s;
      overflow: hidden;
  
    }
    .nav-bar.active {
      height: 450px;
      z-index: 10;
    }
   
    .nav-bar ul{
      display: block;
      width:fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  
    }
    .nav-bar.active ul {
      opacity: 1;
  
    }
    .nav-bar ul li a{
      margin-bottom: 12px;
  
    }
    .banner{
      background-image: none;
    }
  }
  /* nav end */


  .heading{
    color: #230EBA;
    font-size: 28px;
    text-align: center;
    align-items: center; 
    text-decoration: underline 5px;
    text-decoration-color: #230EBA;
   }
  
   .cover{
    width: 100%;
    height: 400px;
    background:url('../img/contact.jpg')no-repeat;
    background-size: cover;
    display: grid;
    place-items:center;
    padding-top: 8rem;
  }


/* Style for the header */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Style for the contact form */
.contact-form {
  width: 50%;
  margin: 0 auto;
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 10px;
}

/* Style for form inputs */
input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style for the submit button */
input[type="submit"] {
    border-radius: 20px;
  background-color: #230EBA;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}




  @media only screen and (max-width: 800px) {
    .cover{
      width: auto;
      height:auto;
      background:url('/media/contact.jpg')no-repeat;
      background-size: cover;
      display: grid;
      place-items:center;
      padding-top: 8rem;
    }
  
    .contact-form {
      width: 70%;
      margin: 0 auto;
    }
    textarea{
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 50px

    }
  
  }

















  
/* footer */
.footer {
  background-color: #21abcd;
  width: 100%;
  text-align: left;
  /* font-family: ; */
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: var(--navfont);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;

}






.footer .footer-center p {
  display: inline-block;
  color: var(--navfont);
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  color: var(--navfont);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .footer-center p a {
  color: var(--navfont);
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: var(--navfont);
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: var(--navfont);
}

.footer .menu {
  color: var(--navfont);
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: var(--navfont);
}

.footer .name {
  color: var(--navfont);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.deli .para{
  font-size: 30px;
  text-align: center;
}
.para{
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

@media (max-width: 767px) {
  /* .content{
     padding: 10px; 
  } */
  .deli .para{
    font-size: 23px; 
    text-align: center;
    

  }
  .deli img{
   width: 100%;
   height: 100%;
  }
  
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
  }
  .sociallist{
  
    padding-left: 60px;
    
  }
  
      

  
}

/* social */
/* .sociallist{

} */
.social
{
  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;

}
.social li a
{
  display: inline-block;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
